
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
button {
  color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  border: none;
}


body {
  font: 1.6rem/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255, 254, 251, 0.8);
}